.header {
    &__col-1 {
        margin-top: 204px;

        .title {
            font-style: normal;
            font-weight: normal;
            width: 560px;
            height: 148px;
            line-height: 78px;
            color: #000000;
        }

        .description {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: #7C828D;
            line-height: 25px;

        }

        .input {
            background: #FFFFFF;
            box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
            border: 5px solid white;
            width: 367px;
            height: 51px;

        }

        .button {
            color: white;
            width: 173px;
            height: 51px;
            display: block;
            background: #7E53FD;
            box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            margin-top: 1rem;

        }
    }

    &__col-2 {
        position: relative;
    

        .polygon {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            position: absolute;
            width:641.85px;
            height: 600.85px;
            top: -37px;
            background: linear-gradient(231.07deg, #7D52FC 30.24%, #4ACAF9 84.45%);
            box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.25);
            transform: rotate(14.45deg);
        }

        .video {
            position: absolute;
            top: 138px;
            width: 561px;
            height: 298px;
            background: linear-gradient(90deg, rgba(255, 145, 44, 0.87) 0%, rgba(255, 72, 66, 0.25) 100%);
            box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }

        .eclipe-2 {

            clip-path: circle(50% at 50% 50%);
            position: absolute;
            top: 65px;
            left: 85px;
            z-index: -1;
            width: 240px;
            height: 240px;
            background: linear-gradient(52.27deg, #2E585E 14.81%, #F9E84A 86.16%);
            box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);

        }

        .eclipe-1 {
            clip-path: circle(50% at 50% 50%);
            position: absolute;
            bottom: 0;
            left: 380px;
            z-index: -1;
            width: 257px;
            height: 257px;
            background: linear-gradient(52.27deg, #2E585E 14.81%, #00F0FF 86.16%);
            box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);

        }
    }
}