.navBar{
  position: relative;
  z-index: 999;
  top: 0;
  left: 0;
  height: 63px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.15);

  &__container{
    height: 100%;
  }

 &__row{
    height: 100%;
  }
 
  &__col{
      display: flex;
      align-items: center;
  }

   h1{
       
       font-size: 23px;
       margin-bottom: 0;
   }

   
}





