.platforms {
    margin-top: 7rem;
    &__title {
        font-family: Open Sans Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #7C828D;
    }
}