.platforms {
    margin-top: 154px;
    &__title {
        font-family: 
        Open Sans Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #7C828D;
    }



    @media screen and (max-width: 800px){

        &__row{
            text-align: center;
            display: flex;
            flex-direction: column;
            
        }
        margin-top: 350px;
    }
}