.themes {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    overflow-x: hidden;



    &__title {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;

        p {
            position: relative;
            top: 8px;
            transform: rotate(90deg);
            font-family: Open Sans Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: #FFFFFF;
        }
    }


    &__container {
       position: relative;
       top: 15px;
    }

    &__buttons {
        display: flex;
        justify-content: center;


        button {
            width: 173px;
            height: 51px;
            margin: 0 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            border: 1px solid #7E53FD;
            background: white;
            border-radius: 5px;
            text-align: center;
            color: #7E53FD;


            

        }

        button:hover{
            
                background-color: #7E53FD;
                color: white;
                border-color: white;
        }
    }




    &__row {
        flex-wrap: nowrap !important;
        position: relative;
        bottom: 65px;


        :first-child {
            left: 135px;


        }

        :nth-child(2) {
            left: 155px;

        }

        :last-child {
            left: 172px;

        }



    }

    &__rectangle {
        position: absolute;
        width: 1544px;
        height: 210px;
        background: linear-gradient(180deg, #25293E 0%, #38394F 100%);
        border-radius: 10px;

    }

    &__col {
        padding: 0 !important;
        position: absolute;
        box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

    }

    @media screen and (max-width: 500px){
      
        margin-top: 800px;
       

       
        
    }

    @media screen and (max-width: 800px){
        overflow-x: scroll;
        margin-top: 600px;
       

        &__rectangle {
            
            width: 1000px;
            height: 150px;
            background: linear-gradient(180deg, #25293E 0%, #38394F 100%);
            border-radius: 10px;
    
        }

        .themes-img{
            width: 460px;
            height: 246px;
        }
        
    }

    
}

.themes-img{
    object-fit: cover;
    border-radius: 10px;
    width: 560px;
    height: 346px;
}

